<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 04.11.2019, 12:14</p>
            <h2><a href="">第一章 举家搬迁</a></h2>
            <p>“两年前，宫里那场大火，可是宫里有史以来最大的一场火，漫天的大火，烧了三天三夜，烧红了半边天……”

　　“听说南家小姐就在大火里丧身了……”

　　“那么大的火，只怕是死了不少人”

　　众人七嘴八舌的围着一位老者，只见那老者捋了一下胡须，道：“非也！只有南家小姐一人丧命！”老者正是说书先生。

　　“怎么可能？”

　　“这么大的火，没有一个奴才在场？”

　　“奴才都活着，主子丧了命，好生奇怪！”

　　众人七嘴八舌议论纷纷。

　　说书先生道：“紫檀宫大火时，涵王殿下正大婚呢，这可是近年来宫里最大的喜事，哪个奴才不想去讨点赏银？整个紫檀宫只有两个宫女，一个是随身伺候的宫女和另一个是腿脚不便的宫女……大火时，那南家小姐非但没有自己逃命，还把那个腿脚不便的宫女从大火里救了出来……令人意外的是，她自己竟死在了大火里！当时她才十五岁，如花似玉的年龄……”

　　“可惜了……”

　　“涵王殿下不是在南家大公子婚礼上说南家小姐是他的王妃吗？”

　　“对呀，涵王殿下就眼睁睁看着她被烧死？”

　　众人又开始议论纷纷。

　　老者继续道：“紫檀宫那边大火时，涵王殿下的兴明宫却是张灯结彩、鼓乐喧天。大红的绸幔挂满了宫殿，地上也全部铺上了红毯，放眼看去，就像碧海之间的嫣红云团，煞是喜庆。伴着鼓乐声，涵王牵着新娘踏着红毯缓缓走到殿内，眼见就要拜堂了……新娘的哥哥相国大人的嫡子却突然冲进了婚礼，他不知对新郎说了什么，涵王殿下便当着皇上、贵妃和一众观礼的皇亲贵胄的面，丢掉手中的喜花跟袁公子跑了！大红的喜花在空中飘呀，飘呀，最后落在新娘的面前……所有人都惊呆了！”

　　“涵王殿下与相国公子跑了？”

　　“相国公子可是新娘的同胞兄长！”

　　“就没有人拦着？”

　　“他们去了哪里？”

　　“去紫檀宫救南家小姐了吧？”

　　……

　　说书先生继续道：“场上所有人都目瞪口呆地看着新郎被新娘的哥哥带走，待大家反应过来时，涵王殿下已经离开了宫殿。他们自然是去了紫檀宫，只可惜，他们到达紫檀宫时，整个紫檀宫已经被大火团团包围，诧红诧红的火呀，烧红了半边天……自此便没有南家小姐了……”

　　“那婚礼如何交代？”

　　老者摇头：“涵王殿下得知南家小姐被焚，生生呕出一滩血，昏了三天三夜……自此谁也不敢跟他提大婚的事。”

　　“看来涵王殿下待南家小姐还是有些真心的……”

　　“可怜了，阴阳两隔……”

　　众人纷纷摇头惋惜。

　　南今夕放下手中的茶，出了客栈。

　　————————————————————————————

　　两年前，上京路上。

　　“娘，我们还有多久到上京？”

　　“总不过后日。”南夫人靠在软榻上，闭目养神。

　　“还要两天那……”南今夕趴在马车窗上长吁短叹。坐了十多日的马车，南今夕感觉骨头都要散架了，偏偏娘亲不让她骑马，整个南府她最怕的便是娘亲，因为爹爹对娘亲简直是言听计从，惹怒了娘亲，她自然是没得好果子吃。

　　不行，得找个理由出去伸展一下筋骨，不然她真的要散架了。她爬回南夫人身边，拉着南夫人纤纤玉手道：“娘，坐了这几天的马车，您一定觉得无趣得很吧？今夕去找二哥借本书来，念给您听听，给您解乏。”说完，不待南夫人回应，掀开马车帘子便跳了下去。

　　南夫人伸手欲拉南今夕，还没碰到她的衣袖，人已经一溜烟不见了，她只得叹道：“哪里有点大家闺秀的样子！”

　　南今夕下了马车，飞奔到一个骑马少年面前道：“阿原，你跟老吴驱赶马车去，马借我遛遛。”

　　阿原好言好语劝道：“小姐，外面太阳毒，还是坐马车舒服。”

　　南今夕捶捶自己的肩膀，“坐了几天的马车，小姐我都要散架了！”

　　“可是，夫人那边不好交代……”

　　南今夕眯起眼睛。

　　这是一个危险的信号。阿原的手抖了抖，从马背上翻下来，谄笑道：“小姐您坐马上，我牵着马转转，夫人那边应该就可以交代了……”南今夕快速翻身上马，眨眼间已经飞奔而去。

　　阿原是南府二公子的侍从，可他不怕南思询却怕南今夕，因为这位南小姐鬼点子极多，又是老爷夫人的心头肉，每次惹事都会连累他们，偏偏她又不是个消停的主儿。

　　“二哥，咱们来比比，看谁先到前面的山底，谁赢了就输对方一样东西，如何？”清脆悦耳的声音像风一样从南思询耳边飘过。

　　南思询今年十七岁，比妹妹南今夕大两岁，生的高挑俊雅，此时正坐在高头大马上，一手拉着缰绳，另一只握着玉箫的手轻轻转动，好不潇洒。此事他正闲着无聊，听到妹妹声音，南思询陡然来了精神，风一般追了上去。

　　不一会，南思询便追上了南今夕，二人并驾齐驱，南思询故意放慢速度，刚好比南今夕的快半个马身，笑道：“妹妹的骑术越发长进了，不过嘛，比起二哥我还是差一大截的！”说完，“嗖”的一声从南今夕身边飞过。

　　南今夕很是不甘：“你的马比我的好，纵然赢了也没啥了不起的！”

　　南思询听之哈哈大笑。

　　“二哥，救命呀！”

　　骤然的尖叫声让南思询大惊，他回头一看，只见几米开外，南今夕的马似是受了惊吓，疯狂往前冲，而南今夕则一只脚卡在马背上，身子直直地往后倒，情景煞是危险。他顾不得比赛，勒住马便纵身向南今夕飞去。而南今夕却在他们即将交汇的刹那，翻身坐好，只一个刹那，她便超过了南思询，让南思询扑了个空。

　　南思询心知上当，他脚只稍稍点地，便飞身上马扭头追去，却为时已晚。

　　而此时，南今夕已在山底笑颜相迎。

　　南思询来到南今夕身旁，南思询就把她拉下马，围着她转了一圈，见并未受伤，方才放下心来，拿手指戳着她的头骂道：“你个鬼丫头！耍无赖！知不知道这样很危险？”

　　南今夕却完全不当回事，她拍拍南思询的胸脯，笑嘻嘻的说:“二哥输了，这里的宝贝可归我啦！”

　　南思询一脸的惊讶：“什么宝贝？哪有什么宝贝？”

　　南今夕扫了一眼四周，然后戳戳南思询的胸口，压低声音：“《夕月如雪》”

　　这《夕月如雪》很有些来头。据说十几年前，皇宫举办了一场盛宴，贵人们正在饮酒作乐，忽闻琴声如泉水般徐徐流出，依山而下时涓涓声起，漫过草地时又轻盈无比，仿若一股圣泉自远处天宫而来，流入这人间，众人听得如痴如醉，很多人听着听着便昏睡了过去，这曲便是《夕月如雪》。原来宫里请了一位乐师来为盛宴助兴，谁知这位乐师竟是世外高人，她信手弹了一曲便是被世人惊为世外之音的《夕月如雪》。后来不知为何，乐师骤然消失，自此，《夕月如雪》也失传了。此前，听闻琴圣月臻携了《夕月如雪》入世，相传月臻便是那世外高人的关门弟子，然无人见过月臻真面目，也无见过曲谱，大家都对《夕月如雪》趋之若鹜，《夕月如雪》在坊间也一度被炒到了万金。

　　南家历乃书香门第，南老爷南夫人非常重视子女的才艺，子女尚幼，便请了名师教导他们琴棋书画，故其子女在琴棋书画都样样精通。南老爷还请了武师教其骑术武艺，南今夕自幼跟兄长玩乐惯了，偏偏受不了习武之苦，而骑马却是个潇洒活，所以武艺不精，但骑术却是精湛。

　　南思询自小喜爱音律，天赋极高，又得一位宗师指导，琴艺自是非同一般，在宣州也小有名气，时时有权贵公子造访相约弹琴论乐。

　　然一日，在一偏僻的水楼，听闻美妙琴曲，因一时兴起，便执萧隔墙与那琴音配乐，二人彷如知音般越凑越欢，最后，楼内小童前来相邀思询前去与其主人一聚，楼内主人隔帘与思询把酒言欢，共谈音律，彷如多年老友。临别时，小童送来一首曲谱，并留一字条：“请代为保管，他日来必亲自来取，切勿外传”。离开小楼，南思询翻看琴谱才发现曲谱竟是《夕月如雪》。他快速返回小楼，想寻月臻，然已是人去楼空。南思询深感知音难遇，当即下决心誓死保护《夕月如雪》，自此，便将《夕月如雪》便视如珍宝，从不离身。

　　因他随身携带琴谱，从未泄漏半分，不知从何时起竟被妹妹觊觎。《夕月如雪》乃月臻之物，他只代为保管，且不能让外人知晓。

　　南思询用玉笛推开南今夕的手：“什么琴谱？真是稀奇，妹妹什么时候对琴棋书画来兴致了？”

　　南今夕讨好地拉着南思询的手：“好二哥，莫要生气，我也是偶然看你拿着一本书爱不释手，想我二哥哥素来自诩不凡、才貌双全，能让二哥哥爱不释手之物，必非俗物，所以一时好奇，瞟了一眼。”其实是趁他沐浴时，偷出来看了一眼。

　　南思询脸色顿时下沉，琴谱他向来不离身，必定是这丫头趁他沐浴时偷看了。《夕月如雪》乃人间珍品，价值万金，若是世人知道琴谱在他手里岂不是惹下天大麻烦。况且南今夕又是个惹事的主，若真得了琴谱，岂不是惹祸上身？

　　看到南思询脸色不对，南今夕立马讨饶：“二哥，我错了！我向你保证除我之外无人知晓。”又道，“二哥哥，你妹妹我蕙质兰心，送给我一点也不埋没这琴谱。”

　　“你少往自己脸上贴金！”南思询翻身上马，“你这番使诈，比赛算不得数！”

　　“夫子曾说兵不厌诈，我此番赢你虽是使诈，但并非不光彩。”南今夕抱着南思询的手臂，软硬皆施，“二哥，我不要你的琴谱，只誊写一份，好不好？”

　　南思询：“不行！”

　　南今夕缠着他不让他走：“我只誊抄一份，学习揣摩一番，待学成就毁掉可以吗？”

　　南思询思忖，今夕是个不达目的不罢休的主儿，若不想个办法断了她的念想，只怕她还会惹出其他事端来，现在只能找个由头，打消她的念想，他略微沉思道：“怕了你了，只誊抄一份，绝对不能外传！”

　　南今夕本就没奢望拿到整本琴谱，对《夕月如雪》也没有十足把握，没想到二哥这么痛快就答应了，顿时喜上眉梢，她拍拍南思询的胸脯道：“二哥尽管把心放肚子里！”

　　二人骑马往回赶。

　　不远处树梢间，青衣少年问戴着面具的白衣男子：“公子，走不走？”

　　白衣男子翻身上马：“走！”

　　“公子，我们是回京吗？”青衣少年问道。

　　“回京！”白衣男子扬起马鞭向上京方向驶去。</p>
        </div>

        <div>
            <p>published: 04.11.2019, 12:14</p>
            <h2><a href="">第二章 夜来是非</a></h2>
            <p>这次南家举家搬迁，是因南老爷南志渊任宣州知府期间兴修水利，建学堂，发展农业，业绩颇丰，任期六年，税收逐年增长。因宣州乃鱼米之乡，历来为国库收入重要来源，南志渊在职期间，税收增长迅速，较之到任第一年竟涨了近五成，实乃罕见。南志渊为官中庸，在官场上人缘颇佳，此番便是朝中有人举荐，皇上念其政绩，感其才华，一举升为户部尚书，希望其多为朝廷创造佳绩。

　　南老爷接到圣旨时南老太太正在青淮山礼佛，青淮山在宣州与上京之间，离宣州快马需三日有余，南老爷怕南老太太路途颠簸幸苦，权衡一二便随长子南思铭带少量人马先行去青淮山接老太太直接进京。南夫人处理完老宅事宜便带着二公子和女儿上路。

　　南思询兄妹二人骑马往回走了没一会，就行驶到南夫人的马车旁停了下来。

　　南夫人掀开窗帘，看了二人一眼，放下窗帘，对赶车的吴管家说：“停下来用完午膳再赶路吧。”

　　“是，夫人。”吴管家命众人停下来休息，并把车赶到一棵大树下停下，这边早有丫鬟婆子在马车旁边候着，一边一个搀扶着南夫人下马车。

　　只见南夫人丰盈窈窕，肤如凝脂，柳眉如烟，年近四十，仿若三十少妇，举止投足间，风姿卓绝。

　　传闻，当年南家虽书香门第，但一直小门小户，在宗族中没什么地位，南老太太和南志渊孤儿寡母相依为命，直到南志渊金榜题名，家中顿时另一番风景，宗族、亲朋、包括很多不认识的都前来巴结这名新贵，南家一时宾客如云，连提亲的也是络绎不绝。当时赵家算得上大户人家，然赵二小姐是当地有名的剩女，年近二十无人迎娶，相传丑陋不堪，无人愿娶。令所有人意外的是，南志渊回绝所有宾客，直奔赵家提亲，据说是费了九牛二虎之力才娶得这大龄剩女。南志渊婚后爱妻如命，家里一切交由南夫人打理，更别说纳妾了。然，南夫人也欣然接受，闭门持家，不给南老爷纳妾机会，当时坊间传闻南志渊娶了个又丑又恶的母老虎。只有南家人知道，南夫人是个风姿卓绝、性情温和的女主人。

　　这样父母生出的儿女自是不差。长子南思铭，年方二十，生得俊朗，武艺颇佳；次子南思询，也是玉树临风。女儿南今夕风姿更胜其母，尤其是一双清澈的双眸，美得不可方物。

　　南夫人在余妈妈的搀扶下，在树边一个铺着垫子的石头上坐了下，南思询二人忙围了上去。

　　“今夕，你不是要给娘解乏吗？把你借的书拿来念给娘听听。”南夫人稍微整理了一下衣裙。

　　“娘，我有一个更能解乏的法子，给您试试？”说着，南今夕便坐到南夫人旁边抱住南夫人的手臂开始揉。

　　“行啦，行啦！”南夫人拍开今夕的双手，嗔道，“又去惹是生非了？”

　　“哪有，我确实是跟二哥借书，可惜他身上没带，不信你问二哥。”她边说边向思询眨眼睛，南思询却轻哼了一声，装作没看见。

　　“不用眨了，”南夫人敲了一下南今夕的额头道，很是恨铁不成钢，“骗了阿原的马疯了这么久，以为娘不知道？瞧瞧你，头发都乱了，哪里像个姑娘家？”她一边帮南今夕整理凌乱的头发，一边对南思询说，“眼见要到上京了，上京不比宣州，言行都得有个分寸，别再纵着今夕了。”

　　南思询低声应道：“是，娘。”

　　南家上下对这个女主人都很是尊敬，她处事柔和，为人谦逊，嫁来南家二十来年，把南家上上下下打点的很是妥帖，南老爷也因此少了后顾之忧，一心处理朝事，三个子女对这当家主母也很是尊重孝顺。

　　“今夕，不是娘说你，你这性子要改改了。原先在宣州，有你两个哥哥给你撑腰，你偷偷溜出去，闹闹也就罢了。可宣州不比上京，你若一如既往的胡闹惹出祸端，当如何是好？”南夫人用手指捋顺女儿乱糟糟的乌发，叹了口气道，“过不了两年你就要许人家了，以后就在家好好学习女红，不得跟哥哥们出去胡闹了。”

　　南今夕一直耐着性子听南夫人训导，可一听到许人家，她便急了：“娘，我还小呢，大哥二哥都没说亲，怎么轮得到我呀！”

　　南夫人点头：“是该为你两个哥哥考虑一番了……”

　　南思询见状，转身便溜了。

　　吃了一些干粮，吴管家便走了过来，对南夫人恭恭敬敬道：“夫人，这里离客栈还有一段距离，得赶紧赶路，不然天黑前怕是到不了客栈了。”

　　这吴管家是南老爷最得力的人，跟着南老爷有些年头了。当年跟着南老爷几各处赴任，也见过不少世面，是以南老爷才放心让他偕同次子带着家眷上京。但南老爷临别时还是一再嘱咐，安全第一。因而吴管家把行车时辰都把的很准。 他心知赶路时，最忌夜行。在这荒山野岭，遇上饥民难民或是强盗，那就麻烦了。虽然南家随行的一干男仆都会些武艺，但毕竟有一半是女眷，且南夫人、南小姐这次都在队伍中，若是有个闪失，都不好交差。

　　南夫人点点头。他们刚到客栈，天就黑了。

　　南夫人、南今夕、余妈妈、大丫鬟觅竹一间房，南夫人和今夕睡里间，余妈妈和觅竹睡外间，晚饭都是店小二送到房里来用的。她们用完晚膳，收拾收拾，便准备安歇了。南今夕刚躺下，就想方便，房间虽有夜壶，但她从小不喜在房间内方便，于是爬起来就穿衣裳。

　　南夫人斜躺起来，拉着南今夕道：“今夕，你要去哪里？”

　　南今夕看了南夫人一眼，继续穿衣：“娘，我要出恭。”

　　“房间有马桶，你将就一下，这外面不比家里，还是小心为上。”

　　“娘，我不喜欢马桶，方便了之后总感觉屋子里面臭烘烘的，若让娘睡不好觉，爹爹又要骂我了。”

　　南夫人明知拿这女儿没办法，幸而后日就要到了，于是叮嘱道：“让觅竹跟着。”

　　“知道了，娘。”

　　这家客栈像个小庄园，最外面是很大的厅房，里面摆满桌椅板凳，专供客人吃饭用。往里走是个小院子，院子后面几排客房，中间用草木盆景相隔，每间客房前面有个走廊，上面挂上灯笼，夜间很是亮堂。 许是离上京近，才会这般奢华吧。

　　主仆二人在走廊转了一圈也找不到一个茅厕。南今夕捂着肚子，憋得的直跺脚，恨不能就地解决。

　　觅竹看着也是着急，便道：“小姐，这样找不是办法，要不你在这等等，我去问问店小二？”

　　南今夕点头道：“快去快回去。”

　　说完，南今夕便就站到院中的大石头上有一下没一下的踢着地上的野草。

　　突然，她看到远处有一孤灯亮起，按照以往的经验，远处孤灯必是茅厕。此时她憋得难受，哪里等得及觅竹？她径直的从石头上跳下了下来，朝那孤灯奔去。果不其然竟被她找到了茅厕。

　　方便出来，南今夕顿觉浑身畅快，她慢蹭蹭的沿着竹林小道往回走，才走了几步，便见前方走廊处黑影晃动，她不假思索的躲到身旁的竹林里，透过竹林的缝隙，她看见几个黑衣人手持长刀悄然溜进了一个房间。南今夕虽从小喜爱闹腾，但毕竟是在家小打小闹，几时看过这样惊心动魄的场面，一时小嘴大张，呆愣于原地。

　　这时，突觉身子一软，便被捂住了嘴巴，她本能地挣扎起来，才发觉自己竟动不了，原来她被人点了穴道。

　　捂住她嘴巴的手生有层层细茧，由此判断此人定是练武之人，只是手指纤细而修长，不似匪徒。此时她动弹不得，一双大眼睛胡乱转动，想通过余光看清点穴之人，然而唯一能看见的却是一张倒立的戴着黑色面巾的脸，脸的上方，是一双深邃的眼睛，那眼睛无视她的挣扎，紧盯那间被黑衣人闯入房间。

　　南今夕郁闷地想，此人肯定就是那几个黑衣人追杀的目标。被人连夜追杀定不是什么好人，自己倒霉居然碰到此事。早知道就听娘的，在房间里将就一下好了，闻一宿的腥味总比平白无故被人灭口了好。

　　她还没到上京，还没亲眼看看上京的繁华，今日骗来的《夕月如雪》还没拿到手……难道她就要命丧此地？若果真如此，爹娘和祖母岂不伤心死？还有大哥和二哥，他们平日最关心她了，若她此番遭遇不测，他们定然也会难过的……不管怎么说，一定要保住自己的小命，其他一切皆可舍弃。

　　正在南今夕左思右想如何能躲过此劫时，她突然发觉面上微凉，原来那人松手了，她顿时大口喘起气来。她想了很多说辞想去说服蒙面人放过她，可是，她却不能说话，因为她被人点了哑穴，按照说书的说法，一般这时别人就会灭口。她焦虑的看着蒙面人，想要争取沟通的机会，一张脸因激动而憋得通红。

　　蒙面人见她如此模样，手指轻轻在她后脑勺处点了一下，她便可以开口说话了。他居然这么容易就解了她的哑穴？南今夕惊喜的瞪大了眼睛，刚好对上蒙面人那双深邃的眸子。</p>
        </div>
    </body>
</html>